<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Story 6</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "djangotest/css/styles.css" %}"
  </head>
  <body>
    <div class="main-part">
      <div class="container">
        <div class="row hello-text">
          <div class="col-12">
            <h1>Hello, how are you?</h1>
          </div>
        </div>
        <form method="POST">
          {% csrf_token %}
          <div class="row input-status">
            <div class="col-12">
              <input type="text" class="form-control text-center" id="status" name="status" maxlength="280" placeholder="What's on your mind?">
            </div>
          </div>
          <div class="row submit-status">
            <div class="form-buttons">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button class="btn btn-success" onclick="window.location.href = '#messages';">See status</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="second-part" id="messages">
      <div class="container">
        <div class="card">
          <div class="card-header">
            Status
          </div>
          {% for stat in status %}
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{ stat.status }}</p>
                <footer class="blockquote-footer">{{ stat.created_on }}</footer>
              </blockquote>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
