html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
}

.main-part {
  height: 100vh;
}

.hello-text {
  margin: 31vh 0 2vh 0;
}

.hello-text h1 {
  font-size: 4rem;
}

.input-status {
  margin: 3vh 0 2vh 0;
}

input {
  max-width: 70vw;
  min-height: 7vh;
  margin: auto;
}

.submit-status{
  margin: 10vh 0 2vh 0;
}

.form-buttons {
  margin: auto;
  min-width: 300px;
  min-height: 5.5vh;
}

.form-buttons button {
  margin-left: 3vw;
  margin-right: 3vw;
  min-height: 5.5vh;
}

.second-part {
  min-height: 85vh;
}

.card {
  max-width: 500px;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
